<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="java"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        function addProduct() {
            $.ajax({
                dataType: "json",
                type: 'get',
                url: "/cities-rest"
            }).done(function (data) {
                console.log(data);

                var $dropdown = $("#dropdown");
                $.each(data, function (index, value) {
                    $('#city').val($('#city').val() + "; name: " + value.name + " id: " + value.id);
                    $dropdown.append($("<option />").val(value.id).text(value.name));
                });
            }).fail(function (data) {
                if (console && console.log) {
                    console.log("Error data: ", data);
                }
            });
        }
    </script>
</head>
<body>
<form method="post" th:action="@{/logout}">
    <button type="submit">LOGOUT</button>
</form>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="city : ${cities}">
        <td th:utext="${city.id}">...</td>
        <td th:utext="${city.name}">...</td>
        <td th:utext="${city.location}">...</td>
    </tr>
    </tbody>
</table>
<div sec:authorize="hasAuthority('ADMIN')">
    <form th:action="@{/city/add}"
          th:object="${addCity}" method="post">
        Name:
        <div th:if="${#fields.hasErrors('name')}">
            <span class="error" th:errors="*{name}"></span>
        </div>
        <input type="text" th:field="*{name}"/>
        <br/>
        Location:
        <div th:if="${#fields.hasErrors('location')}">
            <span class="error" th:errors="*{location}"></span>
        </div>
        <input type="text" th:field="*{location}"/>
        <br/>
        <input type="submit" value="Добавить город"/>
    </form>
</div>
<br/>

<input type="button" id="send" name="Получить города" value="Нажать"/>
<input type="text" id="city" size="255">
<select id="dropdown"></select>

<script>
    $(document).ready(function () {
        $('#send').click(function () {
            addProduct();
        });
    })
</script>
</body>
</html>